* {
    outline: none;
    box-sizing: border-box;
}

#wrapper {
    padding: 115px 0 0;
    min-height: 100%;
    overflow: hidden;
}

#header {
    z-index: 1000;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding-top: 31px;
    position: fixed;
    border-bottom: 1px solid #fff;
    transition: border-color .5s linear;
}

#header .logo {
    background: url(/build/images/logo.6c425399.svg) 0 0 no-repeat;
    background-size: contain;
    width: 130px;
    height: 28px;
    float: left;
    margin: 3px 51px 0 0;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
}

#header .back {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    height: 69px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    vertical-align: middle;
    cursor: default;
    background: #fff;
    z-index: 999;
    padding: 20px 24px;
}
#header .container {
    max-width: none;
}
#filters-navigation, #navigation {
    font-size: 15px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
}
#navigation ul.menu {
    display: flex;
    margin: 0;
    padding: 0;
    color: #000;
}

#header .user-menu {
    float: right;
    margin: -6px 0 0;
    min-width: 260px;
}


.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 51px;
}

/* FOOTER */

#footer {
    background: #eee;
    padding: 92px 0 48px;
}


#footer .columns .col:first-child {
    flex: 0 0 370px;
    width: 370px;
    padding: 0 70px 0 0;
    margin: 0 70px 0 0;
    position: relative;
}
#footer .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    display: block;
    margin: 0 0 28px;
}
#footer .frame {
    max-width: 300px;
    margin: 0 0 31px;
}
#footer .foot-logo {
    margin: 0 0 6px;
    height: 32px;
    width: 80px;
}
#footer .case {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 20px;
}
.more {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-right: 28px;
}
#footer {
    background: #eee;
    padding: 92px 0 48px;
}

#footer .columns .col:last-child {
    flex: 1 1 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    width: 100%;
}

#footer .footer-nav {
    color: #000;
    padding: 5px 0 33px;
}
#footer .footer-nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 25px;
}
ul {
    list-style: none;
}
#footer .footer-nav ul li {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    flex: 0 1 22%;
    width: 22%;
}
#footer .footer-nav ul li ul {
    padding: 21px 0 0;
    display: block;
    font-size: 15px;
    line-height: 15px;
}
#footer .footer-nav ul li ul li {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    margin: 0 0 15px;
    font-weight: 400;
}
#footer .columns {
    display: flex;
    padding: 0 0 94px;
    margin: 0 0 48px;
    border-bottom: 1px solid #000;
}
#footer .footer-nav a {
    color: #000;
    text-decoration: none;
}

#footer .holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 76px 0 0;
}

#footer .logo-holder {
    display: flex;
    align-items: center;
}
#footer .logo {
    display: block;
    background: url(/images/footer_logo.81a91bfb.svg) 0 0 no-repeat;
    width: 90px;
    height: 21px;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 20px 0 0;
}
#footer .slogan {
    font-size: 12px;
    line-height: 15px;
    font-style: normal;
}
#footer .copyright {
    font-size: 12px;
    line-height: 15px;
}